@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


body {
  font-family: 'Poppins', sans-serif;
  color: var(--defaultColorText);
  background-color: var(--bgDefault);
}

:root {
  --bgDefault: #eee8e8;
  --defaultColorText: #2a2a53;;
  --bgNavbar: #fbf8f8f2;
  --textDefault: #ecf0f1;
  --textGrey: #666666;
  --background-light-card: rgba(255, 255, 255, 0.9); 
  --background-dark-card: rgba(56, 54, 54, 0.542); 
  --button-icon-light:#121212;
  --button-icon-dark:#ecf0f1;
  --bgSideBar: #fbf8f8f2;
  --red-default:  #ff5350;
  --green-default: rgb(112 189 143);
  --input-border-color: #ddd;
  --input-focus-border-color: #4a90e2;
  --input-hover-border-color: #ccc;
  --input-placeholder-color: #aaa;
  --input-icon-color: #aaa;
  --input-font-size: 16px;
}

.light-theme {
  --bgDefault: #f5fbfb;
  --defaultColorText: #2a2a53;
  --bgNavbar: #fbf8f8f2;
  --textDefault: #2a2a53;
  --background-card: var(--background-light-card);
  --button-color:var(--button-icon-light);
  --bgSideBar: var(--background-light-card);
}

.dark-theme {
  --bgDefault: #171c1f;
  --defaultColorText: #ecf0f1;
  --bgNavbar: #1d2327; 
  --textDefault: #ffffff;
  --background-card: var(--background-dark-card);
  --button-color:var( --button-icon-dark);
  --bgSideBar: #1d2327; 
}

.navbar {
  background-color: var(--bgNavbar);
  a{
    color: var(--textDefault);
  }
}
