/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Poppins', sans-serif;
  color: var(--defaultColorText);
  background-color: var(--bgDefault);
}

:root {
  --bgDefault: #eee8e8;
  --defaultColorText: #121212;
  --primaryColor: #3498db;
}

.light-theme {
  --bgDefault: #f5fbfb;
  --defaultColorText: #121212;
  --primaryColor: #3498db;
}

.dark-theme {
  --bgDefault: #121212;
  --defaultColorText: #ecf0f1;
  --primaryColor: #9b59b6;
}
