@import './base.scss';

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 768px) {
    font-size: 87.5%;
  }
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}


